# Created by .ignore support plugin (hsz.mobi)
/datasets/
/no-reconocidas/
/results/
/result-studio/clasificador-conductas_38/
/result-studio/clasificador-conductas_24/
/result-studio/clasificador-conductas_35/
/result-studio/clasificador-conductas_23/
/result-studio/clasificador-conductas_34/